.shopping-cart-image {
  object-fit: scale-down;
  padding: 20px;
  // background-color: red;
  height: 100%;
}

.transparent-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
