// Dark Gray Color
.backgroundDark {
  background-color: #343a40;
}

.customDark {
  color: #343a40;
}

// Light Gray Color
.backgroundLight {
  background-color: #c4c4c4;
}

.customLight {
  color: #c4c4c4;
}

// Checkout Products Colors
.backgroundCheckout {
  background-color: #F6F5F5
}

// Error Color
.backgroundRed {
  background-color: #ab1515;
}

.customRed {
  color: #ab1515;
}

.white {
  color: white;
}
