@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("../../assets/fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../../assets/fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../../assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "BespokeSerif-Regular";
  src: url("../../assets/fonts/BespokeSerif-Regular.woff2") format("woff2"),
    url("../../assets/fonts/BespokeSerif-Regular.woff") format("woff"),
    url("../../assets/fonts/BespokeSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "CabinetGrotesk-Variable";
}

// Weights
.font-bold {
  font-weight: 900;
}

.font-regular {
  font-weight: 400;
}

// Sizes
.small-text {
  font-size: 10px;
}
.intermediate-text {
  font-size: 16px;
}

.medium-big-text {
  font-size: 24px;
}

.big-text {
  font-size: 38px;
}
