@use "./colors" as c;

// Test guidelines
// * {
//   outline: 2px solid blue;
// }

body {
  height: 100vh;
  margin: 0;
  #root {
    height: 100%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.multiply-blend-mode {
  mix-blend-mode: multiply;
}

.custom-border {
  border-radius: 5px;
  border: 1px solid c.$backgroundLight;
}
