@import "bootstrap";

.black {
  @extend .btn;
  color: white !important;
  background-color: #343a40 !important;
}
.grey {
  @extend .btn;
  color: white !important;
  background-color: #c4c4c4 !important;
}
.btn:hover {
  color: white;
}
