header {
  // min-height: 120px;
  height: fit-content;
  padding: 25px 60px 0 60px;
  // box-shadow: 0 -14px 15px 16px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid black;

  .title {
    font-size: 60px;
    line-height: 74px;
  }

  .user-name {
    padding: 7px 0;
    text-align: right;
  }
}
