.page-left {
  height: fit-content;
  .product-image {
    object-fit: scale-down;
    border-radius: 5px;
    padding: 40px;
  }
  .main-image {
    max-height: 550px;
  }
  .other-images {
    .other-image-wrapper {
      height: 20vw;
      .other-image {
        width: 100%;
        height: 100%;
      }
    }
  }
}
